/* src/components/MainNavigation.module.css */
* {
  text-align: center;

}

.active {
  font-weight: bold;
  color: #B43F3F;
  text-align: center;
}


.ul {
  display: grid;
  grid-template-columns: .5fr .5fr .5fr 4fr .5fr .5fr;
  text-align: center;
  justify-content: center;
  list-style-type: none;
  padding: 3% 6%;
}




.link {
  text-decoration: none;
  font-family: 'Satoshi', Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
}